.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.navbarLinks {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbarLinks li {
  cursor: pointer;
  font-size: 1.08rem;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  color: #333;
  transition: color 300ms ease;
  position: relative;
}

.navbarLinks li::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff6347;
  transition: width 300ms ease;
}

.navbarLinks li:hover {
  color: #ff6347;
}

.navbarLinks li:hover::after {
  width: 100%;
}

.loginSignupButton {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  letter-spacing: 2px;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: background-color 300ms ease, scale 50ms ease;
}

.loginSignupButton:hover {
  background-color: #e5533d;
}

.loginSignupButton:active {
  scale: 0.9;
}
